<style media="screen">
  div {
    text-align: center;
    color: rgb(17, 173, 51);
    background-color: rgb(226, 230, 18);
    font-weight: 900;
    width: 160px;
    margin-left: 350px;
  }
</style>

<div>
  <p>{{name}}</p>
  <p>{{price}}</p>
  <p>{{awesomeness}}</p>
</div>